.Light .MyFooter footer {
  background-color: teal;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}

.Dark .MyFooter footer {
  background-color: rgb(9, 9, 9);
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
}