.Light header {
  background-color: teal;
}

.Dark header {
  background-color: rgb(9, 9, 9);

}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}




/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

@media (max-width:300px) {
  .show-when-mobile {
    display: block;
  }

  .hide-when-mobile {
    display: none;
  }
}

