main{
  color: #931515;

  height: calc(100vh - 128.64px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  text-align: center;
}