main{
  color: #181717;

  height: calc(100vh - 128.64px);

  font-size: 30px;
  font-weight: bold;
  line-height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
 
  text-align: center;
}

.Light main p{
  color: #181717 !important;
}

.Light main .main-link{
  color: #d50e0e !important;
  background-color: darkgrey;
  border-radius: 10px;
}
.Dark main .main-link{
  color: #d50e0e !important;
  background-color: darkgrey;
  border-radius: 10px;
}